{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="contenedor">
    <h3>Sobre nosotros</h3>
    <div class="nosotros-contenido">
        <img src="{% static 'img/nosotros.jpg' %}" alt="Imagen nosotros">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam accusantium dicta delectus sequi optio numquam, perspiciatis minima, molestias doloremque, cupiditate sit? Hic voluptates harum qui, fuga repudiandae provident sapiente voluptate.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam accusantium dicta delectus sequi optio numquam, perspiciatis minima, molestias doloremque, cupiditate sit? Hic voluptates harum qui, fuga repudiandae provident sapiente voluptate.
        </p>
    </div>
</main>

{% endblock %}